/* 公共的基础样式 */
body {
  margin: 0;
  border-width: 0;
  padding: 0;
  background-color: #f5f5f5;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
i,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  border-width: 0;
  padding: 0;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}

[v-cloak] {
  display: none;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
